**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [13]:
# Dependencies
import pandas as pd

In [14]:
# load CSV
csv_path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [15]:
# Read with pandas
new_coders_df = pd.read_csv(csv_path, encoding = 'iso-8859-1', low_memory=False)

In [16]:
# Inspect all columns
list(new_coders_df.columns)

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampMonthsAgo',
 'BootcampName',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CodeEventCoffee',
 'CodeEventConferences',
 'CodeEventDjangoGirls',
 'CodeEventGameJam',
 'CodeEventGirlDev',
 'CodeEventHackathons',
 'CodeEventMeetup',
 'CodeEventNodeSchool',
 'CodeEventNone',
 'CodeEventOther',
 'CodeEventRailsBridge',
 'CodeEventRailsGirls',
 'CodeEventStartUpWknd',
 'CodeEventWomenCode',
 'CodeEventWorkshop',
 'CommuteTime',
 'CountryCitizen',
 'CountryLive',
 'EmploymentField',
 'EmploymentFieldOther',
 'EmploymentStatus',
 'EmploymentStatusOther',
 'ExpectedEarning',
 'FinanciallySupporting',
 'Gender',
 'HasChildren',
 'HasDebt',
 'HasFinancialDependents',
 'HasHighSpdInternet',
 'HasHomeMortgage',
 'HasServedInMilitary',
 'HasStudentDebt',
 'HomeMortgageOwe',
 'HoursLearning',
 'ID.x',
 'ID.y',
 'Income',
 'IsEthnicMinority',
 'IsReceiveDiabilitiesBenefits',
 'IsSoftwareDev',
 'IsUnderEmployed',
 'JobApplyWhen',
 'JobPref',
 'JobRelocateYesNo',
 'JobRoleInterest',
 'JobRoleInterestOther',
 'JobWherePref',
 'LanguageAtHome',
 'MaritalStatus',
 'MoneyForLearning',
 'MonthsProgramming',
 'NetworkID',
 'Part1EndTime',
 'Part1StartTime',
 'Part2EndTime',
 'Part2StartTime',
 'PodcastChangeLog',
 'PodcastCodeNewbie',
 'PodcastCodingBlocks',
 'PodcastDeveloperTea',
 'PodcastDotNetRocks',
 'PodcastHanselminutes',
 'PodcastJSJabber',
 'PodcastJsAir',
 'PodcastNone',
 'PodcastOther',
 'PodcastProgrammingThrowDown',
 'PodcastRubyRogues',
 'PodcastSEDaily',
 'PodcastShopTalk',
 'PodcastTalkPython',
 'PodcastWebAhead',
 'ResourceBlogs',
 'ResourceBooks',
 'ResourceCodeWars',
 'ResourceCodecademy',
 'ResourceCoursera',
 'ResourceDevTips',
 'ResourceEdX',
 'ResourceEggHead',
 'ResourceFCC',
 'ResourceGoogle',
 'ResourceHackerRank',
 'ResourceKhanAcademy',
 'ResourceLynda',
 'ResourceMDN',
 'ResourceOdinProj',
 'ResourceOther',
 'ResourcePluralSight',
 'ResourceReddit',
 'ResourceSkillCrush',
 'ResourceSoloLearn',
 'ResourceStackOverflow',
 'ResourceTreehouse',
 'ResourceUdacity',
 'ResourceUdemy',
 'ResourceW3Schools',
 'ResourceYouTube',
 'SchoolDegree',
 'SchoolMajor',
 'StudentDebtOwe']

In [17]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
re_newcoders_df = new_coders_df.iloc[:,[0,1,2,3,4,7,8,9,10,11,29,30,32,36,37,45,48,56,110,111]]
re_newcoders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [18]:
# Change "0" to "No" and "1" to "Yes" in response columns
re_newcoders_df = re_newcoders_df.replace({0.0: "No", 1.0: "Yes"})
re_newcoders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [19]:
# Calculate total number of respondents in survey
tot_responses = len(re_newcoders_df)
tot_responses

15620

In [20]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = re_newcoders_df.loc[re_newcoders_df["AttendedBootcamp"]=="Yes"]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [21]:
# Calculate average age of attendees
avg_age = attended_bootcamp["Age"].mean()

# Calculate how many people attended a bootcamp
bootcamp_ct = attended_bootcamp["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees
hold_degrees = attended_bootcamp["SchoolDegree"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
tot_genderid = attended_bootcamp["Gender"].count()
female = attended_bootcamp["Gender"].value_counts()["female"]
male = attended_bootcamp["Gender"].value_counts()["male"]
nonbinary = tot_genderid - female - male

# Calculate percentage of respondents who attended a bootcamp
pct_bootcamp = (bootcamp_ct / tot_responses)*100

# Calculate percentage of respondents belonging to each gender
pct_female = (female / tot_genderid)*100
pct_male = (male / tot_genderid)*100
pct_nonbinary = (nonbinary / tot_genderid)*100

# Calculate percentage of attendees with a school degree
pct_degree = (hold_degrees / tot_responses)*100

# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

#display variables
print(avg_age)
print(bootcamp_ct)
print(hold_degrees)
print(tot_genderid)
print(female)
print(nonbinary)
print(pct_bootcamp)
print(pct_female)
print(pct_male)
print(pct_nonbinary)
print(pct_degree)
print(avg_salary)

31.066014669926652
953
832
833
326
11
6.101152368758003
39.13565426170468
59.5438175270108
1.3205282112845138
5.326504481434059
63740.50606060606

In [22]:
# Create a new table consolodating above calculations
bootcamp_summary = pd.DataFrame({"Total Surveyed": [tot_responses],
                               "Total Attendees": [bootcamp_ct],
                               "% Attended Bootcamp": [pct_bootcamp],
                               "Average Age": [avg_age],
                               "% Male": [pct_male],
                               "% Female": [pct_female],
                               "% Non-Binary": [pct_nonbinary],
                               "% Who Earned Degree": [pct_degree],
                               "Average Post Bootcamp Salary": [avg_salary]
})
bootcamp_summary = bootcamp_summary[["Total Surveyed", "Total Attendees", "% Attended Bootcamp","Average Age","% Male", 
                                "% Female","% Non-Binary","% Who Earned Degree","Average Post Bootcamp Salary"]]
bootcamp_summary = bootcamp_summary.round(2)

bootcamp_summary

,Total Surveyed,Total Attendees,% Attended Bootcamp,Average Age,% Male,% Female,% Non-Binary,% Who Earned Degree,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,59.54,39.14,1.32,5.33,63740.51

In [23]:
# Improve formatting before outputting spreadsheet
bootcamp_summary["% Attended Bootcamp"]=bootcamp_summary["% Attended Bootcamp"].map("{0:,.2f}%".format)
bootcamp_summary["% Male"]=bootcamp_summary["% Male"].map("{0:,.2f}%".format)
bootcamp_summary["% Female"]=bootcamp_summary["% Female"].map("{0:,.2f}%".format)
bootcamp_summary["% Non-Binary"]=bootcamp_summary["% Non-Binary"].map("{0:,.2f}%".format)
bootcamp_summary["% Who Earned Degree"]=bootcamp_summary["% Who Earned Degree"].map("{0:,.2f}%".format)
bootcamp_summary["Average Post Bootcamp Salary"]=bootcamp_summary["Average Post Bootcamp Salary"].map("${0:,.2f}".format)

bootcamp_summary

,Total Surveyed,Total Attendees,% Attended Bootcamp,Average Age,% Male,% Female,% Non-Binary,% Who Earned Degree,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,5.33%,"$63,740.51"

In [24]:
# Export to Excel
bootcamp_summary.to_excel("output/Task1A.xlsx", index=False)